* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container, .day-month-year, .years-months-days, .divisor-line {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.day-month-year, .years-months-days, .divisor-line {
    height: 100px;
}

.years-months-days {
    flex-direction: column;
}

.day-month-year {
    column-gap: 12px;
}

.row {
    background-color: #F2F2F2;
    margin-left: 132px;
    margin-right: 132px;
}

